<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="logo">
                    <a href="#">
                        <img src="../assets/face-foundry-logo.jpg" alt="the face foundry">
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="nav-toggle" (click)="toggleNav()">
                    <i class="fas fa-bars fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="sidenav-container" *ngIf="sideNavToggle"[@sideNavContainer]>
    <div class="row">
        <div class="col"></div>
        <div id="sidenav" class="sidenav col-3 align-self-end" [@sideNav]>
            <a href="javascript:void(0)" class="closebtn" (click)="toggleNav()">&times;</a>
            <div class="sidenav-items">
                <a href="https://thefacefoundry.com/" class="nav-item">Main Site</a>
                <a href="#" class="nav-item">Account</a>
                <a href="#" class="nav-item">Contact</a>
            </div>
        </div>
    </div>
</div>