.header-section {
    padding-top: 30px;
    padding-bottom: 30px;
}
.logo img {
    max-width: 200px;
    height: auto;
    object-fit: cover;
}
.nav-toggle {
    float: right;
    text-align: right;
    position: relative;
    width: fit-content;
    right: 0 !important;
    cursor: pointer;
}

.sidenav-container {
    position: absolute;
    z-index: 2;
    width: 100%;


}
.sidenav {
    text-align: center;
    background-color: black;
    padding: 30px;
}

.sidenav a.nav-item {
    display: block;
    padding: 10px 0px 10px 0px;
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    margin-left: 20px;
    color: #fff;
}
