<section class="log-in-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 main">
                <div class="row">
                    <div class="col-md-6">
                        <div class="login">
                            <div class="section-header">
                                <h2>Log In</h2>
                            </div>
                            <form (ngSubmit)="onSubmit(loginForm.value, 'login')" #loginForm="ngForm" class="login-form">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="loginEmail">Email:</label>
                                            <input type="email" name="loginEmail" id="login-email" class="form-control" required ngModel email #loginEmail="ngModel">
                                            <span class="help-block" *ngIf="!loginEmail.valid && loginEmail.touched">Please enter your email</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="loginPassword">Password:</label>
                                            <input type="password" name="loginPassword" id="login-password" class="form-control" required ngModel #loginPassword="ngModel">
                                            <span class="help-block" *ngIf="!loginPassword.valid && loginPassword.touched">Please enter your password</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-button">
                                            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!loginForm.valid" (click)="onSubmitLogin(loginForm.value)">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sign-up">
                            <div class="section-header">
                                <h2>Sign Up</h2>
                            </div>
                            <form (ngSubmit)="onSubmit(signupForm.value, 'signup')" #signupForm="ngForm" class="signup-form" [mustMatch]="['signupPassword', 'signupConfirmPassword']">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstName">First Name:</label>
                                            <input type="text" name="firstName" id="firstName" class="form-control" required ngModel #signupFirstName="ngModel">
                                            <span class="help-block" *ngIf="!signupFirstName.valid && signupFirstName.touched">Please enter a first name</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="lastName">Last Name:</label>
                                            <input type="text" name="lastName" id="lastName" class="form-control" required ngModel #signupLastName="ngModel">
                                            <span class="help-block" *ngIf="!signupLastName.valid && signupLastName.touched">Please enter a last name</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="signupEmail">Email:</label>
                                            <input type="email" name="signupEmail" id="signupEmail" class="form-control" required ngModel email #signupEmail="ngModel">
                                            <span class="help-block" *ngIf="!signupEmail.valid && signupEmail.touched">Please enter an email</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="signupPhone">Phone:</label>
                                            <input type="tel" name="signupPhone" id="signupPhone" class="form-control" required ngModel #signupPhone="ngModel">
                                            <span class="help-block" *ngIf="!signupPhone.valid && signupPhone.touched">Please enter a phone number</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="signupPassword">Password:</label>
                                            <input type="password" name="signupPassword" id="signupPassword" class="form-control" required #signupPassword="ngModel" [(ngModel)]="model.signupPassword">
                                            <span class="help-block" *ngIf="!signupPassword.valid && signupPassword.touched">Please enter a password between 8 and 25 characters containing at least 1 letter and 1 number </span>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="signupConfirmPassword">Confirm Password:</label>
                                            <input type="password" name="signupConfirmPassword" id="signupConfirmPassword" class="form-control" required #signupConfirmPassword="ngModel" [(ngModel)]="model.signupConfirmPassword">
                                            <span class="help-block" *ngIf="!signupConfirmPassword.valid && signupConfirmPassword.touched">Must match password</span>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-button">
                                            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!signupForm.valid" (click)="onSubmitCreate(signupForm.value)" >Submit</button>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <span class="help-block" *ngIf="!signupLastName.valid && signupLastName.touched">Please enter a last name</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>