/* You can add global styles to this file, and also import other style files */
.title-container{
    text-align: left;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Montserrat-light', sans-serif;
    font-style: normal;
    font-weight: 100 !important; 
}

p, span, li, input, textarea, label {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
}

P, input, textarea {
    font-size: 15px;
}

.btn-primary {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    border-radius: 0;
    font-size: 18px;
    padding: 10px 30px 10px 30px;

    background-color: #000 !important;
    border-color:  #000 !important;
    color: #fff;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: #E3E8F3 !important;
    border-color:  #E3E8F3 !important;
    color: #000;
}
.btn-primary:disabled {
    background-color: #000 !important;
    border-color:  #000 !important;
    color: #fff !important;
    cursor: auto;
}

.form-control {
    border-radius: 0;
}

.btn-container {
    margin-top: 30px;
    text-align: center;
}

.selected-appointment {
    background-color: rgb(151, 151, 151);
}